<div class="wrapper">
  <div class="row">
    <%= cell("decidim/amendable/wizard_step_form", amendable, view: :wizard_aside) %>

    <div class="columns large-6">
      <%= cell("decidim/amendable/wizard_step_form", amendable, view: :wizard_header) %>

      <div class="card">
        <div class="p-l">
          <div class="row column view-header">
            <h2 class="heading2"><%= present(emendation).title(links: true, html_escape: true) %></h2>
            <%= cell("decidim/coauthorships", emendation) %>
          </div>

          <div class="row column">
            <%= render_emendation_body(emendation) %>
          </div>

          <br><%= render partial: "attachments", locals: { attached_to: emendation } %>

          <div class="row column flex-center">
            <%= link_to t("decidim.amendments.preview_draft.modify"), edit_draft_amend_path(amendment) %>

            <%= button_to t(".review"), publish_draft_amend_path(amendment), method: :post, class: "button button--nomargin small" %>
          </div>
        </div>
      </div>
    </div>

    <div class="columns large-3"></div>
  </div>
</div>


<!-- Copyright (C) 2022 Formez PA
This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, version 3.
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
You should have received a copy of the GNU Affero General Public License along with this program. If not, see <https://www.gnu.org/licenses/>

Vista per inviare in revisione un emendamento invece della pubblicazione in caso di moderazione abilitata
-->