<% if has_link_to_resource? %>
  <div class="card__footer">
    <div class="card__support">
      <% if has_actions? %>
        <% if !current_settings.votes_hidden? %>
          <%= cell(
                "decidim/progress_bar",
                progress_bar_progress,
                total: progress_bar_total,
                units_name: "decidim.proposals.proposals.votes_count.count",
                element_id: "proposal-#{model.id}-votes-count",
                subtitle_text: progress_bar_subtitle_text,
                small: true
              ) %>
        <% end %>
        <%= render partial: "decidim/proposals/proposals/vote_button.html", locals: { proposal: model, from_proposals_list: true } %>
      <% elsif has_footer? %>
        <div class="card__support__data"></div>
        <%= link_to resource_path, class: "card__button button--sc light button small" do %>
          <%= t("decidim.proposals.proposals.proposal.view_proposal") %>
          <span class="show-for-sr"><%= title %></span>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
<% if model.review? && !has_link_to_resource? %>
  <div class="card__footer">
    <div class="card__support">
      <div class="card__support__data"></div>
      <%= link_to resource_path, class: "card__button button--sc light button small" do %>
        <%= t("decidim.proposals.proposals.proposal.view_proposal") %>
        <span class="show-for-sr"><%= title %></span>
      <% end %>
    </div>
  </div>
<% end %>

<!-- Copyright (C) 2022 Formez PA
This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, version 3.
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
You should have received a copy of the GNU Affero General Public License along with this program. If not, see <https://www.gnu.org/licenses/>

Override necessario, non gestibile con Deface, per aggiungere la CTA che permettono di visualizzare all'autore o ad un admin il dettaglio di una proposta di revisione
-->